.container {
  max-width: 600px;
  margin: auto;
  --bluetext: #99fff9;
  --bluebg: #002ea3;
}

.navbar {
  margin: 2rem auto;
  max-width: max-content;
  padding: 10px 20px;
  background-color: #e8f9ff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.02);
}

.navbar .active {
  background-color: var(--bluebg);
  color: var(--bluetext);
}

.icon-container {
  transition-duration: 0.15s;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: gray;
}
